[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
sysinfo.txt
.vs/
*.VC.db
*.VC.opendb
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
*.bak
*.swp
*.tmp
*.old
/Assets/AddressableAssetsData/*/*.bin*
/Assets/AddressableAssetsData/*/*.hash
/Assets/AddressableAssetsData/*/*.catalog
